<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/toys.css"> 
    <title>Toys</title>
</head>
<body background ="/images/028.jpg">
<header id = "main-header"></header>
<div class = "main-menu">
        <div>
            <a href="/">Главная</a>
        </div>
        <div>
            <a href="/images">Фото</a>
        </div>
        <div>
            <a href="/contacts">Контакты</a>
        </div>
    </div>
     <div class = "content-center">
        {{{body}}}
    </div>
    <div class = "content-right">
        
    </div>
    
  <footer id = "main-footer"></footer> 
</body>
</html>