<!DOCTYPE html>
<head>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--Add google Fonts Style - Shrikhand -->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

    <!-- My classes  -->
    <link rel="stylesheet" href="/css/main.css"> 
    <link rel="stylesheet" href="/css/style.css"> 
    
    <title>MyAmigurumi</title>
</head>
<body background ="/images/028.jpg">

<nav class="navbar navbar-light navbar-expand" style="background-color:#C9F76F;">
    <div class="container">

        <a class="navbar-brand shrikhand" href="/">MyAmigurumi</a>

        <nav class="nav nav-pills nav-fill">
            <a class="nav-item" href="/">Главная</a>
            <a class="nav-item" href="/images">Фотогаллерея</a>
            <a class="nav-item" href="/contacts">Контакты</a>
        </nav>

    </div>
</nav>        
<div class = "row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8 container">
        {{{body}}}
    </div>
    <div class="col-md-2 col-sm-2"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

</body>
</html>