<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/toys.css"> 
    <title>Toys</title>
</head>
<body background ="/images/028.jpg">
     <div class = "content">
        {{{body}}}
    </div>
    <div class = "main-div">
        <div>
            <a href="http://localhost:3000">Главная</a>
        </div>
        <div>
            <a href="http://localhost:3000/images">Фото</a>
        </div>
        <div>
            <a href="http://localhost:3000/contacts">Контакты</a>
        </div>
    </div>
   
</body>
</html>