<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1>Мишка - М2</h1>
        </div>
    </div>
    <div class = "row">
        <dav class = "col-sm images-overview"><img src="/images/toys-photo/beer2.jpg"></dav>
        <dav class = "col-sm images-overview">
            <text>Стоимость игрушки: 14$</br>
                Высота игрушки: 30 см</br>
                Состав пряжи: 50% хлопок, 50% акрил</br>
                одежда - 50% шерсть, 50% акрил</br>
                Наличие: Есть   
            </text>
        </dav>
    </div>
</div>