<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1>Мишка - М3</h1>
        </div>
    </div>
    <div class = "row">
        <dav class = "col-sm images-overview"><img src="/images/toys-photo/beer_3.jpg"></dav>
        <dav class = "col-sm images-overview">
            <text>
                Высота игрушки: 32 см</br>
                Состав пряжи: 50% хлопок, 50% акрил</br>                   
            </text>
        </dav>
    </div>
</div>