<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1 id = "bunny-1">Девочка зайчик</h1>
        </div>
    </div>
    <div class = "row">
        <dav class = "col-sm">______</dav>
        <dav class = "col-sm">______</dav>
    </div>
</div>