<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1>Зайка - B1</h1>
        </div>
    </div>
    <div class = "row">
        <div class = "col-sm images-overview"><img src="/images/toys-photo/bunny_small.jpg"></div>
        <div class = "col-sm images-overview">
            <text>
                Высота игрушки: 28 см</br>
                Состав пряжи: 30% шерсть, 70% акрил</br>
                одежда - 50% хлопок, 50% акрил</br>  
            </text>
        </div>
    </div>
</div>