<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1>Зайка в красном - BR</h1>
        </div>
    </div>
    <div class = "row">
        <dav class = "col-sm images-overview"><img src="/images/toys-photo/bunny_in_red.jpg"></dav>
        <dav class = "col-sm images-overview">
            <text>
                Высота игрушки: 34 см</br>
                Состав пряжи: 50% хлопок, 50% акрил</br>
                одежда: 50% хлопок, 50% акрил</br>  
            </text>
        </dav>
    </div>
</div>