<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1 id = "bunny-1">Девочка котик - СG</h1>
        </div>
    </div>
    <div class = "row">
        <div class = "col-sm images-overview"><img src="/images/toys-photo/cat_in_green.jpg"></div>
        <div class = "col-sm images-overview">
            <text>
                Высота игрушки: 32 см</br>
                Состав пряжи: 50% хлопок, 50% акрил</br>
                одежда: 100% хлопок
            </text>
        </div>
    </div>
</div>