<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1>Кошечка - C1 (рядом с Зайка - B1)</h1>
        </div>
    </div>
    <div class = "row">
        <div class = "col-sm images-overview"><img src="/images/toys-photo/2toys.jpg"></div>
        <div class = "col-sm images-overview">
            <text>Стоимость игрушки: 18$</br>
                Высота игрушки: 36 см</br>
                Состав пряжи: 30% шерсть, 70% акрил</br>
                одежда - 50% хлопок, 50% акрил</br>
                Наличие: Под заказ   
            </text>
        </div>
    </div>
</div>