<div class = "container">
     <div class = "row">
       <div class="col"></br></br></br></div>
    </div>
    <div class = "row">
        <div class = "col-sm-2"></div>
        <div class = "col-sm-8 images-overview">
            <text><h2>Почта: rusanovopublic@mail.ru</h2></text>
        </div>
        <div class = "col-sm-2"></div>
    </div>
    <div class = "row">
        <div class = "col-sm-2"></div>
        <div class = "col-sm-8 images-overview">
            <text><h2>Моб. Телефон: +7 911 365-69-98</h2></text>
        </div>
        <div class = "col-sm-2"></div>
    </div>
    <div class = "row">
        <div class = "col-sm-2"></div>
        <div class = "col-sm-8 images-overview">
            <text><h2>Мастер: Анна Александровна</h2></text>
        </div>
        <div class = "col-sm-2"></div>
    </div>
    <div class = "row">
        <div class = "col-sm-2"></div>
        <div class = "col-sm-8 images-overview">
            <text><h2>Телефон в Беларуси: +375-29-511-94-81</h2></text>
        </div>
        <div class = "col-sm-2"></div>
    </div>
</div>