<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1>Собачка - D1</h1>
        </div>
    </div>
    <div class = "row">
        <dav class = "col-sm images-overview"><img src="/images/toys-photo/dog.jpg"></dav>
        <dav class = "col-sm images-overview">
            <text>
                Высота игрушки: 30 см</br>
                Состав пряжи: 70% акрил, 30% шерсть</br>
                одежда: 50% хлопок, 50% акрил</br>  
            </text>
        </dav>
    </div>
</div>