<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1>Кукла - К1(в новом стиле)</h1>
        </div>
    </div>
    <div class = "row">
        <dav class = "col-sm images-overview"><img src="/images/toys-photo/doll _in_blue.jpg"></dav>
        <dav class = "col-sm images-overview">
            <text>
                Высота игрушки: 44 см</br>
                Состав пряжи: смотри Кукла - К1</br>
            </text>
        </dav>
    </div>
</div>