<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1>Кукла - К1</h1>
        </div>
    </div>
    <div class = "row">
        <dav class = "col-sm images-overview"><img src="/images/toys-photo/doll.jpg"></dav>
        <dav class = "col-sm images-overview">
            <text>
                Высота игрушки: 44 см</br>
                Состав пряжи: 50% хлопок, 50% акрил</br>
                одежда - 100% хлопок</br>  
            </text>
        </dav>
    </div>
</div>