<body>
    <h2>Игрушки ручной работы из хорошей и качественной пряжи для детей.</h2>
    <div class = "row">
        <div class ="col-4-auto main-images"><img src="/images/main.jpg"></div>
        <div class ="col-8 main-text">
            <p>
                Каждая игрушка индивидуальна.
                В разделе <a href="/images">фотогалерея</a> можно просмотреть работы мастера.
                Понравившуюся модель игрушки можно заказать написав на почту
                или позвонив на телефон,
                почта и номера телефонов
                указаны в разделе <a href="/contacts">контакты</a>.
             </p>
        </div>
       
    </div>
    </br>
     <div class = "row">
        <div class ="col main-text">
            <p>
                Можно заранее обговорить цвета, размер игрушки,
                дополнительные аксессуары (наборы одежды для куклы).
                Перед тем как забрать игрушку и оплатить ее, заказчик может ее посмотреть лично
                или на фотографии.</br>
                Сроки изготовления от 7 до 12 дней, в зависимости от сложности изготовления игрушки. 
            </p>
        </div>
        <div class ="col-auto main-images"><img src="/images/main2.jpg"></div>
    </div>
</body>
