<!DOCTYPE html>
<head>
    
    <link rel="stylesheet" href="/css/home.css"> 
    <title>MyAmigurumi</title>
</head>
<body>
    <div id="list-items" class="naw justify-content-center">
        <div class = "row">
            <div class "col-md-4">
                <a class="list-group-item list-group-item-action" href="#item-1">История амигуруми игрушек.</a>
            </div>
            <div class "col-md-4">
                <a class="list-group-item list-group-item-action" href="#item-2">Какие типы бывают.</a>
            </div>
            <div class "col-md-4">
                <a class="list-group-item list-group-item-action" href="#item-3">Как просмотреть работы автора.</a>
            </div>
            <div class "col-md-4">
               <a class="list-group-item list-group-item-action" href="#item-4">Как заказать себе такую же.</a>
            </div>    
        </div>      
    </div>
    <div data-spy="scroll" data-target="#list-items" data-offset="0" class="nav nav-tabs">
                <h4 id="item-1">История амигуруми игрушек</h4>
                <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.
                </p>
                <h4 id="item-2">Какие типы бывают</h4>
                <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
                <h4 id="item-3">Как просмотреть работы автора</h4>
                <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
                <h4 id="item-4">Как заказать себе такую же</h4>
                <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt mollit dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod cupidatat elit dolore.</p>
    </div>
  </div>
    
</body>
</html>
