<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/toys.css"> 
    <title>Toys</title>
</head>
<body>
    <div class ="firstDiv">
        <h1>Главная страница сайта Toys</h1>
    </div>
</body>
</html>
