<body>
    <div  id ="images">
        <div class = "box-for-images">
            <a href="bunny_1" ><img src="/images/small-toys-photo/bunny_1.jpg"></a>
        </div>
         <div class = "box-for-images">
            <a href="cat"><img src="/images/small-toys-photo/cat.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="clown"><img src="/images/small-toys-photo/clown.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="beer"><img src="/images/small-toys-photo/beer.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="doll"><img src="/images/small-toys-photo/doll.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="rabbit"><img src="/images/small-toys-photo/rabbit.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="bunny_small"><img src="/images/small-toys-photo/bunny_small.jpg"></a>
        </div>
         <div class = "box-for-images">
            <a href="bunny_2"><img src="/images/small-toys-photo/bunny_2.jpg"></a>
        </div>
         <div class = "box-for-images">
            <a href="cat_2"><img src="/images/small-toys-photo/2toys.jpg"></a>
        </div>
         <div class = "box-for-images">
            <a href="beer_2"><img src="/images/small-toys-photo/beer2.jpg"></a>
        </div>
          <div class = "box-for-images">
            <a href="doll_2"><img src="/images/small-toys-photo/doll_2.jpg"></a>
        </div>
          <div class = "box-for-images">
            <a href="doll_beach"><img src="/images/small-toys-photo/doll _in_blue.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="beer_3"><img src="/images/small-toys-photo/beer3.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="bunny"><img src="/images/small-toys-photo/bunny.jpg"></a>
        </div>
         <div class = "box-for-images">
            <a href="dog"><img src="/images/small-toys-photo/dog.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="cat_3"><img src="/images/small-toys-photo/cat_2.jpg"></a>
        </div>
         <div class = "box-for-images">
            <a href="bunny_in_red"><img src="/images/small-toys-photo/bunny_in_red.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="purple_cat"><img src="/images/small-toys-photo/purple_cat.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="cat4"><img src="/images/small-toys-photo/cat3.jpg"></a>
        </div>
         <div class = "box-for-images">
            <a href="beer4"><img src="/images/small-toys-photo/beer4.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="monkey"><img src="/images/small-toys-photo/monkey.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="beer5"><img src="/images/small-toys-photo/beer5.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="cat_in_green"><img src="/images/small-toys-photo/cat_in_green.jpg"></a>
        </div>
        <div class = "box-for-images">
            <a href="new_bear"><img src="/images/small-toys-photo/new_bear.jpg"></a>
        </div>
       
    </div>
    <script src="/js/images.js"></script>
</body>