<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/toys.css"> 
    <title>Toys</title>
</head>
<body>
    <div class ="firstDiv">
        <h1>Фотогаллерея</h1>
    </div>
    <div class = "box-for-images">
        <a href="#" title="Девочка зайчик"><img src="/images/toys-photo/bunny_1.jpg"></a>
    </div>
    <div class = "box-for-images">
        <a href="#" title="Девочка зайчик с морковкой"><img src="/images/toys-photo/bunny_2.jpg"></a>
    </div>
    <div class = "box-for-images">
         <a href="#" title="Веселый клоун"><img src="/images/toys-photo/clown.jpg"></a>
    </div>
    <div class = "box-for-images">
         <a href="#" title="Клоун и кукла"><img src="/images/toys-photo/clown_doll.jpg"></a>
    </div>
    <div class = "box-for-images">
        <a href="#" title="Кукла"><img src="/images/toys-photo/doll.jpg"></a>
    </div>
    <div class = "box-for-images">
         <a href="#" title="Кролик"><img src="/images/toys-photo/rabbit.jpg"></a>
    </div>
</body>
</html>