<div class = "container">
    <div class= "row justify-content-center">
        <div class = "col-sm-12">
            <h1>Кролик - R1</h1>
        </div>
    </div>
    <div class = "row">
        <div class = "col-sm images-overview"><img src="/images/toys-photo/rabbit.jpg"></div>
        <div class = "col-sm images-overview">
            <text>Стоимость игрушки: 17$</br>
                Высота игрушки: 36 см</br>
                Состав пряжи: 50% хлопок, 50% акрил</br>
                одежда - 50% шерсть, 50% акрил</br>
                Наличие: Под заказ   
            </text>
        </div>
    </div>
</div>