.box-for-images {
  display: inline-block;
  width: 245px;
  height: 315px;
  text-align: center;
  margin: 6px;
  overflow:hidden;
}

.box-for-images a{
  width: 235px;
  height: 303px;
  border: solid 3px #ccc;
  float: left;
}

.box-for-images a:hover {
  border-color: rgb(115, 255, 0);
}

#images img{
  width: 230px;
  height: 300px;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.box-for-images img:hover{
-webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

.images-overview  img{
  width: 450px;
  height: 600px;
}

.images-overview text {
  font-size: 26px;
  font-family: Arial;
}

.main-images-1 img{
  width: 364px;
  height: 280px;
}

.main-images-2 img{
  width: 364px;
  height: 480px;
}

.main-images-3 img{
  width: 1110px;
  height: 480px;
  opacity: .3;
}

.main-text p{
  font-size: 22px;
  font-family: Arial;
}

