
body {
  background: url(/images/main_background.png);
  
}

.nav-pills a{
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 180px;
  height: 65px;
  line-height: 65px;
  border-radius: 65px;
  margin: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #B9F73E;
  background: #679B00;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}

.nav-pills a:hover{
  background: rgb(131, 185, 3);
  color: #B9F73E;
  box-shadow: 0 8px 15px rgba(4, 59, 7, 0.1);
  transform: translateY(-7px);
}

#bunny-1 h1{
  text-align: center;
}
