
#main-header{
}

#main-footer{ 
}

.main-menu{
  margin: 10px;
  float: left;
  width: 20%;
}

.content-center{
  float: left;
  width: 65%;
}
.content-right{
  float: left;
  width: 15%;
}

.firstDiv {
    text-align: center;
    opacity: 0.8;
    color:rgb(85, 70, 90);
    background: rgb(199, 224, 220);
}

.box-for-images {
  display: inline-block;
  width: 230px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  margin: 5px;
}

img{
  width: 230px;
  height: 300px;
}

a{
    text-decoration: none;
}

body {
  background: url(/images/main_background.png);
  
}
 .main-menu a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 180px;
  height: 65px;
  line-height: 65px;
  border-radius: 65px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.main-menu a:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-7px);
}